<%= render "partials/nav" %>

<h1> Sign up for Thriftr</h1>
<h2>When you click the button you will be sent a code to the submited phone number. Please submit code on the next page.</h2>
<div class="input-form">
  <%= form_for @user do |form| %>
    <%= form.label :username%>
    <%= form.text_field :username%>
    <%= form.label :phone_number%>
    <%= form.text_field :phone_number%>
    <%= form.submit %>
  <% end %>
</div>
