<!DOCTYPE html>
<html>
  <head>
    <title>Thriftr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
   <div class='flash'>
     <% flash.each do |name, msg| -%>
       <%= content_tag :div, msg, class: name %>
     <% end %>
   </div>
    <%= yield %>
  </body>

  <script type="text/javascript">

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }

    function showPosition(position) {
      console.log(position)
      var loc = position.coords.latitude + ',' + position.coords.longitude;
      window.location.href=`/results?location=${loc}`;
    }
  </script>

</html>
